.nameInput{
    position: absolute;
    height: 500px;
    width: 500px;
    text-align: center;
    left: 45%;
}

.gameStartOpt{
    position: absolute;
    left: 23%;
    height: 700px;
    width: 700px;
    align-content: center;
}

.startGame{
    position: absolute;
    margin-top: 80px;
    left: 47%;
    height: 50px;
    width: 200px;
    color: white;
}

.inGameButton{
    display: block;
    position: absolute;
    height: 50px;
    width: 200px;
    color: white;
    margin-top: 20px;
    left: 45%;
}